header.masthead {
    position: relative;
    margin-bottom: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: no-repeat center center;
    background-color: #6c757d;
    background-size: cover;
    background-attachment: scroll;
  }
  
  
  @media (min-width: 992px) {
    header.masthead {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }
 #headerTop{
   background-color: #083D06;
 } 