{% extends './BaseRegistro.html' %}
{% block header %}
<header class="hder" style="">
    <div>
        <h1>Creacion de post </h1>
    </div>
</header>
{% endblock %}

{% block body %}
<div class="container-lg margen" id="contenedor">
    <div class="text-center">
        <div hidden id="id">{{ data.id }}</div>
        <div class="mb-3">
            <label for="titlemain" class="form-label">Titulo: <div id="titulo">{{ data.titulo}}</div> </label>
            <input type="text" class="form-control" id="titlemain" placeholder="" value={{data.titulo}}>
        </div>
        <div id="NombreUsuario"><h3 name="user">{{ current_user.username }}</h3></div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row justify-content-center">
                <form id="FTitulo">
                    <label for="titulo">Titulo</label>     
                    <textarea name="titulo" cols="5" rows="1"></textarea>
                    <button>Agregar</button>
                </form>
            </div>
            <div class="row justify-content-center">
                <form id="FTexto">
                    <label for="texto">Texto</label>
                    <textarea name="texto" cols="15" rows="5"></textarea>
                    <button>Agregar</button>
                </form>
            </div>
        </div>
        <div class="col">
            <ul id="Diseño"></ul>
        </div>
    </div>
</div>
<script src="/static/js/main.js"></script>
{% endblock %}

