{% extends './HomePage.html' %}
{% block plantilla %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    {% endblock %}
{% block style %}
    <link href="{{ url_for('static', filename='css/HomeStyle.css')}}" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/EditPost.css')}}">
    {% endblock %}

        {% block header %}
        <header class="masthead" id="Imagen">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1 id="titulo">{{data[1]}}</h1>
                            <h2 class="subheading">{{data[2]}}</h2>
                            <span class="meta">
                                Posted by
                                <a href="#!">{{data[4]}}</a>
                                {{data[5]}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        {% endblock %}

        {% block btn %}  
        {% if data3 == "True" %}
        <div id="btnEditar">
            <!--<button class="btn btn-outline-dark" id="btnEditarPost">Editar</button>-->
            <div class="form-check form-switch">
                <label class="form-check-label" for="customSwitches">Editar</label>
                <input type="checkbox" class="form-check-input" id="EditSwitch">     
            </div>
        </div>
        {% endif %}
        {% endblock %}


        {% block body %}
        <article class="mb-4" id="articulo">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7" id="contenedorHtml">
                        
                            {{ data[3] | safe}}
                            
                    </div>
                </div>
            </div>   
        </article>
        {% endblock %}

        {% block comment %}
        <div class="padding">
            <div class="container CommentBox">
                <div class="container AddComment">
                    <div class="row">
                        <div class="col-2 PicturePersonal">
                            <img src="{{ url_for('static', filename='img/NonUser.png') }}" alt="">
                        </div>
                        <div class="col-10 PossibleComment">
                            <div class="row justify-content-start">
                                <div class="col">
                                    <label for="TextBoxComment">Comentario</label>
                                    <textarea class="form-control" id="TextBoxComment" rows="3"></textarea>
                                </div>     
                            </div>
                            <div class="row justify-content-end ButtonComment">
                                    <button id="BotonComentario" class="btn btn-secondary">Comentar</button>
                            </div>
                        </div>
                    </div>
                <div id="conte">
                    <div class="container Comment">
                        {% if data2 != None %}
                            {% for comment in data2 %}
                                <div>
                                    <div class="row PersonalComentary">
                                        <div class="col-2 PictureUser PicturePersonal">
                                            <img src="{{ url_for('static', filename='img/NonUser.png') }}" alt="">
                                        </div>
                                        <div class="col-10 CommentInf">
                                            <div class="row CommentUserInfo">
                                                <div class="col-12 CommentUserName">{{comment['nombre']}} | {{comment['fecha']}} {{comment['hora']}}</div>
                                            </div>
                                            <div class="row CommentText">
                                                <p>{{comment['comentario']}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <script src="/static/js/PostCommentsScripts.js"></script>
        <script src="/static/js/BotonEditar.js"></script>
        <script src="/static/js/InsertImagenes.js"></script>
        {% endblock %}
