{% extends './BaseRegistro.html' %}
{% block header %}
<header class="hder" style="">
    <div>
        <h1>Creacion de post </h1>
    </div>
</header>
{% endblock %}

{% block body %}
<div class="container-lg  margen">
    <div class="text-center">
        <div hidden id="id">{{ data.id }}</div>
        <div class="mb-3">
            <label for="titlemain" class="form-label">Titulo: <div id="titulo">{{ data.titulo}}</div> </label>
            <input type="text" class="form-control" id="titlemain" placeholder="" value={{data.titulo}}>
        </div>
        <div id="NombreUsuario"><h3 name="user">{{ current_user.username }}</h3></div>
    </div>
    <div class="row">
        <div class="col contenedor">
            <div class="row align-items-center">
                <form id="FTitulo">
                    <div class="col">
                        <label for="titulo">Titulo</label> 
                    </div>
                    <div class="col">
                        <textarea name="titulo" cols="5" rows="1"></textarea>
                    </div>
                    <div class="col">
                        <button>Agregar</button>
                    </div>
                </form>
            </div>
            <div class="row justify-content-center">
                <form id="FTexto">
                    <label for="texto">Texto</label>
                    <textarea name="texto" cols="15" rows="5"></textarea>
                    <button>Agregar</button>
                </form>
            </div>
        </div>
        <div class="col contenedor">
            <ul id="Diseño"></ul>
        </div>
        <div class="d-flex justify-content-end">
            <button class="btn btn-secondary" id="btnInput" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Publicar</button>
        </div>
    </div>
</div>
      <!-- Modal -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Resumen</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="text-center" id="ResumenT">HHHH</p>
              <textarea name="TextoResumen" id="Resumen" class="form-control" cols="30" rows="5"></textarea>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-primary" id="Publicar">Publicar</button>
            </div>
          </div>
        </div>
      </div>
<script src="/static/js/main.js"></script>
{% endblock %}

