{% extends './BaseRegistro.html' %}

{% block header %}
<header class="hder" style="">
    <div>
        <h1>Creacion de post </h1>
    </div>
</header>
{% endblock %}

{% block body %}
<div class="container-lg margen" id="contenedor">
    <div class="row">
        <div class="col">Funciones
            <div class="row text-center">
                    <label for="">Titulo</label>     
                    <textarea name="" id="LTitulo" cols="5" rows="1"></textarea>
                    <input type="button" value="Agregar" id="ATitulo">
            </div>
            <div class="row text-center">
                <label for="">Texto</label>
                <textarea name="" id="LTexto" cols="15" rows="5"></textarea>
                <input type="button" value="Agregar" ATexto>
            </div>
            <div class="row text-center">
                <label for="">Imagen</label>
                <input type="image" src="" alt="fdsfds">
                <input type="button" value="Agregar">
            </div>
        </div>
        <div class="col">Diseño</div>
    </div>
</div>
{% endblock %}

